# Ignore datasets only
*.npz
*.csv
data/
dataset/
datasets/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
venv/
env/
.venv/

# OS junk files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
